body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

.calculator {
  height: 61vh;
  width: 41vh;
  margin-top: 22px;
  background-color: #848693;
  padding: 1vh;
  text-align: center;
  border-radius: 3px;
  float: right;
}

.caclPage {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 10px;
}

.calcText {
  margin-top: 22px;
}

.resultArea {
  width: 94%;
  height: 33px;
  text-align: right;
  padding: 12px 6px 6px 6px;
  color: #fff;
  border-radius: 5px;
  outline: none !important;
  position: relative;
  transition: all 0.1s;
}

.calcItem {
  width: 10vh;
  height: 10vh;
  cursor: pointer;
  background-color: #90a4ae;
  color: black;
  box-shadow: 1px 5px 1px #6b8694;
}

.btn-number {
  background-color: #e0e0e0;
}

.btn-sign {
  background-color: #ff8e49;
}

.btn-zero {
  width: 20vh;
  height: 10vh;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.nav {
  text-align: right;
  padding: 5px;
}

.navItem {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.nav .navItem:not(:first-child) {
  border-left: 3px solid #878;
}

.homePage {
  margin: 11px 2px;
}

.paragraph {
  margin: 9px;
  font-size: 17px;
}

.welcome {
  margin-top: 22px;
  padding: 11px;
}

.quote {
  padding: 10%;
}

.qouteText {
  font-size: 22px;
}

@media (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
    text-align: center;
  }

  .nav {
    text-align: center !important;
    margin-right: 1px;
  }

  .caclPage {
    grid-template-columns: auto;
    padding: 4px;
    justify-content: center;
  }
}
